{% extends 'header.html' %}



{% block title %}
Reset your password
{% endblock title %}

{% block content %}
<br/>
<div class="dash-content text-center form-group">

    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>

    <br/>
<form method='post'>
    {% csrf_token %}
    {% for error in form.non_field_errors %}
       <div class='alert alert-danger'>
           {{ error }}
       </div>
    {% endfor %}
    
    {% for field in form  %}
    <div class='form-group'>
            {{ field.label }}
            {{ field }}
    </div>

    {% if field.errors %}
    <div class='alert alert-danger'>
        {{ field.errors }}
    </div>

    {% endif %}
    {% endfor %}

    <button type='submit' class='btn btn-secondary'>update Password</button>
</form>
<br/>

{% endblock content %}
